---
import PortfolioLight from "../../assets/mockups/portfoliolight.jpg";
import PortfolioDark from "../../assets/mockups/portfoliodark.jpg";
import mockupphones from "../../assets/mockups/mockupphones.jpg";
import sayon from "../../assets/mockups/sayon.jpg";
import ProyectoCard from "./ProyectoCard.astro";
import BetterUrjcCalendarLight from "../../assets/mockups/betterurjccalendarLight.jpg";
import BetterUrjcCalendarDark from "../../assets/mockups/betterurjccalendarDark.png";
import Pill from "../Pill.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="Proyectos" class="w-full wrap-break-word overflow-hidden text-start">
    <h2 class="text-2xl xl:text-3xl font-bold mb-4">{t('proyectos.title')}</h2>
    <ol class="relative mx-5 gap-6 flex flex-col">  
        <ProyectoCard 
        srcLight={BetterUrjcCalendarLight}
        srcDark={BetterUrjcCalendarDark}
        title={t('proyectos.betterurjccalendar.title')}
        description={t('proyectos.betterurjccalendar.description')}
        linkRepo="https://github.com/danielgrela/betterurjccalendar"
        linkProyecto="https://betterurjccalendar.danielgrela.com/"
        textoProyecto={t('proyectos.betterurjccalendar.link')}
        >
        <div class="flex flex-row justify-start gap-2 flex-wrap">
            <Pill>React</Pill>
            <Pill>Tailwind CSS</Pill>
            <Pill>JavaScript</Pill>
        </div>
    </ProyectoCard>
    <ProyectoCard 
        src={sayon} 
        title={t('proyectos.sayon.title')}
        description={t('proyectos.sayon.description')}
        linkRepo="https://github.com/danielgrela/sayon"
        linkProyecto="https://sayon-delta.vercel.app/"
        textoProyecto={t('proyectos.sayon.link')}
    >
    <div class="flex flex-row justify-start gap-2 flex-wrap">
        <Pill>Astro</Pill>
        <Pill>Tailwind CSS</Pill>
        <Pill>JavaScript</Pill>
    </div>
    </ProyectoCard>
    <ProyectoCard 
            srcLight={PortfolioLight}
            srcDark={PortfolioDark}
            title={t('proyectos.portfolio.title')}
            description={t('proyectos.portfolio.description')}
            linkProyecto="https://github.com/danielgrela/portfolio"
            linkRepo="https://github.com/danielgrela/portfolio"
            textoProyecto={t('proyectos.portfolio.link')}
        >
        <div class="flex flex-row justify-start gap-2 flex-wrap">
            <Pill>Astro</Pill>
            <Pill>Tailwind CSS</Pill>
            <Pill>JavaScript</Pill>
        </div>
        </ProyectoCard>
        <ProyectoCard 
            src={mockupphones} 
            title={t('proyectos.highlights.title')}
            description={t('proyectos.highlights.description')}
            linkRepo="https://github.com/danielgrela/highlights"
            linkProyecto="/blog/por-que-cancele-mi-primer-gran-proyecto/"
            textoProyecto={t('proyectos.highlights.link')}
        >
        <div class="flex flex-row justify-start gap-2 flex-wrap">
            <Pill>Expo</Pill>
            <Pill>React Native</Pill>
            <Pill>TypeScript</Pill>
            <Pill>Tailwind CSS</Pill>
            <Pill>Firebase</Pill>
        </div>
        </ProyectoCard>
    </ol>
</section>